*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root {
    display: flex;
    justify-content: center;
}
.App{
    width: 800px;

}


.task {
    display: flex;
    padding: 15px;
    border: 2px solid darkslateblue;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.name-title{
    color: #8b3d59;
    text-align: center;
}

