.myBtn{
    padding: 5px 15px;
    color: darkslateblue;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid darkslateblue;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: color, transform 500ms ease;

}

.myBtn:hover{
    transform: scale(1.1);
}